<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
  <head>
	<meta charset="UTF-8"/>
	<title>this is home page</title>
  </head>
  <body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="fonmt-weikght-bold">Smart Contact Manager</h1>
			<p >
				start collecting your contacts in very smart way. We provide very smarter
				and efficient way of handeling contacts.
			</p>
			<button	class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>
		
	</section>
	
  </body>
</html>
